
html, body {
	color: #636b6f;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 200;
	margin: 0;
	min-height: 100%;
	width: 100%;
	background-color: #fff0;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
html {
	background-image: url('/img/pakjesavond.jpeg');
}
nav {
	background-color: #a660;
	color: white;
	margin-bottom: 1rem;
}

nav img{
	height: 1.5em;
}

nav a {
	color: white !important;
}
nav a:hover {
	text-decoration: underline !important;
}
.navbar-toggler {
	background-color: #fff8;
}

.nav-link {
	font-weight: 800;
	font-size: 1.5rem;
}

.dropdown-menu {
	background-color: #fff0 !important;
}
.dropdown-menu:hover {
	background-color: unset !important;
}

h2 {
	max-width: 90%;
	margin: auto;
}
a {
	color: #fdd;
}
a:hover,
a:focus {
	color: #fdd;
}
table {
  font-size: 2rem;
}
input {
	border: unset;
	width: 100%;

}
td {
	border-top: none !important;
}
td:nth-child(2){
  border-bottom: solid 1px red;
}
tr {
	background-color: white;
}
tr:nth-child(2n) {
	background-color: #eee;
}

#sinterklaas {
	z-index: -1;
	margin-bottom: -2rem;
}
.navbar-brand h3 {
	font-weight: 800;
}

.full-height {
	height: 100vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.top-right {
	position: absolute;
	right: 10px;
	top: 18px;
}

.content {
	text-align: center;
}

.title {
	font-size: 84px;
}

.links > a {
	color: #636b6f;
	padding: 0 25px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-decoration: none;
	text-transform: uppercase;
}

.m-b-md {
	margin-bottom: 30px;
}

.card-header {
	background-color: #faa;
	font-size: 1.5rem;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}

.card {
	border: none;
}

.btn-primary {
	background-color: #800;
	border-color: #a22;
}
.btn-primary:hover,
.btn-primary:focus {
	background-color: #d66;
	border-color: #f66;
}
.form-control:focus {
	border-color: #faa;
	box-shadow: 0 0 0 .2rem #faa;
}
.card-header {
	text-align: center;
	color: black;
}
.card {
	background-color: #fff0;
}
.card-body {
	background-color: #fff;
}
.btn-link {
	color: red;
}
.btn-link:focus,
.btn-link:hover {
	color: red;
}


.table tbody + tbody {
	border-top: none;
}
.wish-delete {
	cursor: pointer;
}
.row {
	margin: 0;
}
.slug-link {
	color: black;
}
.slug-link:hover {
	color: black;
}